<div class="main">
    <div class="leftpanel">

    </div>
    <div class="rightpanel">
        <div class="buttons" *ngIf="!disablebuttons">
            <div id="login" class="primary-button" (click)="showLogin()">Login</div>
            <div id="signup" class="primary-button" (click)="showSignup()">Sign up</div>
        </div>
        <div *ngIf="showlogin">
            <app-login></app-login>
        </div>
        <div *ngIf="showsignup">
            <app-signup></app-signup>
        </div>
    </div>
</div>