<div class="main" *ngIf="!loginFlag">
    <div class="leftpanel">

    </div>
    <div class="rightpanel">
        <div class="buttons" *ngIf="!disablebuttons">
            <div id="login" class="primary-button" (click)="showLogin()">Login</div>
            <div id="signup" class="primary-button" (click)="showSignup()">Sign up</div>
        </div>
        <div *ngIf="showlogin">
            <router-outlet name="LoginPage"></router-outlet>
        </div>
        <div *ngIf="!showlogin">
            <router-outlet name="SignupPage"></router-outlet>
        </div>
    </div>
</div>
<div *ngIf="loginFlag"> 
    <router-outlet name="HomePage"></router-outlet>
</div>