.buttons {
  display: flex;
  position: absolute;
  top:50%;
  left:50%;
  transform:translate(-50%, -50%);
  text-align: center;
}

.primary-button {
  display: grid;
  width: 150px;
  height: 80px;
  font-size: 17px;
  font-family: Poppins;
  align-items: center;
  border: 2px solid black;
  padding: 14px;
  margin: 3px;
  cursor: pointer;
}
#login {
  background-color: black;
  color: white;
  border-radius: 5px;
}
#login:hover {
  background-color: white;
  color: black;
  font-weight: bold;
  border-radius: 5px;
}

#signup {
  border-radius: 5px;
}
#signup:hover {
  font-weight: bold;
  border-radius: 0px;
}
