<div class="container-fluid">
    <div class="row grid abc">
        <div class="col-8">
            <div class="row row-6 table-container">
                <table class="table text-center">
                    <thead>
                        <tr>
                            <th class="col-6">Product Description</th>
                            <th class="col-2">Quantity</th>
                            <th class="col-2">MRP</th>
                            <th class="col-2">Price</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let product of products; let i = index">
                            <td class="col" *ngIf="product.productDescription">{{product.productDescription}}</td>
                            <td class="col" *ngIf="product.productQuantity">
                                <div class="row d-flex justify-content-center">
                                    <div class="col-2" id="decQty" (click)="decQty()"><i class="fa-solid fa-minus"></i>
                                    </div>
                                    <div class="col-2">{{product.productQuantity}}</div>
                                    <div class="col-2" id="incQty" (click)="incQty()"><i class="fa-solid fa-plus"></i>
                                    </div>
                                </div>
                            </td>
                            <td class="col" *ngIf="product.productMrp">{{product.productMrp}}</td>
                            <td class="col" *ngIf="product.productPrice">{{product.productPrice}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="row row-2">
                <div class="col-12">
                    <div class="row mt-1 mb-1 justify-content-end text-center t_footer">
                        <div class="col-2">Total</div>
                        <div class="col-2">{{total}}</div>
                    </div>
                </div>
            </div>
            <div class="row row-2">
                <div class="col-12">
                    <input type="text" #search placeholder="Scan here" style="width:100%" (input)="onSearch($event)">
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="row row-6">
                <div class="row grid text-center g-0">
                    <div [ngClass]="'functional_buttons'" class="col-md-4"
                        (click)="navigateTo( COMMON_CONSTANTS.VARIABLE_CONSTANTS.ADD_PRODUCTS )">Add product</div>
                    <div [ngClass]="'functional_buttons'" class="col-md-4"
                        (click)="navigateTo( COMMON_CONSTANTS.VARIABLE_CONSTANTS.UPDATE_PRODUCTS )">Edit product</div>
                    <div [ngClass]="'functional_buttons'" class="col-md-4"
                        (click)="navigateTo( COMMON_CONSTANTS.VARIABLE_CONSTANTS.BILLING_HISTORY )">Billing History
                    </div>
                </div>
            </div>
            <div class="row row-6 mt-5">
                <ng-container [ngSwitch]="currentComponent" class="component_container">
                    <app-addproduct *ngSwitchCase=" COMMON_CONSTANTS.VARIABLE_CONSTANTS.ADD_PRODUCTS ">
                    </app-addproduct>
                    <app-updateproduct *ngSwitchCase=" COMMON_CONSTANTS.VARIABLE_CONSTANTS.UPDATE_PRODUCTS ">
                    </app-updateproduct>
                    <app-billing-history
                        *ngSwitchCase=" COMMON_CONSTANTS.VARIABLE_CONSTANTS.BILLING_HISTORY"></app-billing-history>
                </ng-container>
            </div>
        </div>
    </div>
</div>