<div class="bill-template">
    <div class="box1" id="first_box">
        <div class="header_section">
            <ul id="header_items" *ngFor="let header of headers">
                <li>{{header}}</li>
            </ul>
        </div>
        <div class="bill_section">
            <div class="product_details" *ngFor="let eachProduct of products">
                <div>{{eachProduct.productDescription}}</div>
                <div>{{eachProduct.productMrp}}</div>
                <div>1</div>
                <div>{{eachProduct.productPrice}}</div>
            </div>
        </div>
        <div class="total">
            <h2>Total</h2>
            <div class="final_price_section">
                <span id="total_price">{{total}}</span>
            </div>
        </div>
    </div>
    <div class="box2" id="second_box">
        <div class="secondary_options" id="add_products"
            (click)="navigateTo( COMMON_CONSTANTS.VARIABLE_CONSTANTS.ADD_PRODUCTS )"> Add Product
        </div>
        <div class="secondary_options" (click)="navigateTo( COMMON_CONSTANTS.VARIABLE_CONSTANTS.UPDATE_PRODUCTS )">
            Edit Product
        </div>
        <div class="secondary_options">Delete Product</div>
        <div class="secondary_options">Billing History</div>
        <div class="secondary_options"></div>
        <div class="secondary_options"></div>
    </div>
    <div class="box3">
        <ng-container [ngSwitch]="currentComponent">
            <app-addproduct 
                *ngSwitchCase=" COMMON_CONSTANTS.VARIABLE_CONSTANTS.ADD_PRODUCTS ">
            </app-addproduct>
            <app-updateproduct
                *ngSwitchCase=" COMMON_CONSTANTS.VARIABLE_CONSTANTS.UPDATE_PRODUCTS ">
            </app-updateproduct>
        </ng-container>
    </div>
</div>
<div class="qr_section">
    <ng-container class="qrcode_scanner">
        <input id="scanner" type="text" placeholder="Scan Here" (input)="onSearch($event)">
    </ng-container>
</div>