*{
  font-size:18px;
  
}

.container-fluid{
  height:100%;
}
.functional_buttons{
  height:60px;
  background-color: white;
  color: black;
  display:grid;
  place-items: center;
  border: 1px solid black;
  font-family: Poppins;
}

.functional_buttons:hover{
  background: #121212;
  color:whitesmoke;
  cursor:pointer;
}
.bill_template{
  display:flex;
  height:100%;
  width:100%;
  background-color: white;
}