*{
  font-size:18px;
  
}
.abc{
  height:100vh;
  padding: 0.2rem;
}
.container-fluid{
  height: 100vh;
}

.functional_buttons{
  height:60px;
  background-color: white;
  color: black;
  display:grid;
  place-items: center;
  border: 1px solid black;
  font-family: Poppins;
}

.functional_buttons:hover{
  background: #121212;
  color:whitesmoke;
  cursor:pointer;
}
.bill_template{
  display:flex;
  height:100%;
  width:100%;
  background-color: white;
}
.table-container{
  width:100%;
  background-color:white;
  margin: 0;
  overflow-y: auto;
  border: 1px solid black;
  flex-grow: 1;;
}
.component_container{
  width:100%;
  height:100%;
  background-color:white;
  min-height: 300px;
}
.row-8{
  min-height: 760px;
}
.description header{
  width:25%;
}
.quantity{
  display: grid;
  grid-row: 1;
}
#incQty{
  display: flex;
  justify-content: center;
  align-items: center;
}
#decQty{
  display: flex;
  justify-content: center;
  align-items: center;
}
#incQty:hover{
  border: 1px solid black;
  box-shadow: inset;
  margin: 0;;
}
#decQty:hover{
  border: 1px solid black;
  box-shadow: 10%;
}
.t_footer{
  border:1px solid black;
  background-color: white;
  height:60px;
  align-items:center;
  margin:0;
}
.col-8{
  display:flex;
  flex-direction: column;
}