<div class="login">
    <form class="login-format" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <p id="fp"><b>For sign in please</b></p>
        <input type="text" placeholder="Type your email here!" formControlName="customerEmail">
        <input type="password" placeholder="and password here..." formControlName="customerPwd">

        <button type="submit" id="loginbutton">Login</button><br>
    </form>
    <p id="fp"><b>Forgot password?</b></p>
    <p id="fp"><b>Register here!</b></p>
</div>