<ng-container>
    <form [formGroup]="updateProductsForm" class="productForm">
        <span class="form_name">Edit Product Details</span>
        <input type="text" 
            [(ngModel)]="productCode" 
            formControlName="productCode" 
            placeholder="Enter product code here"
            (input)="onSearch($event)">
        <input type="text" 
            [(ngModel)]="productDescription" 
            formControlName="productDescription" 
            placeholder="Write product name here">
        <input type="text" 
            [(ngModel)]="productMrp" 
            formControlName="productMrp" 
            placeholder="Enter product Mrp">
        <input type="text" 
            [(ngModel)]="productPrice"
            formControlName="productPrice"
            placeholder="Enter product price">
        
        <button type="button" class="btn btn-success" (click)="updateProduct(updateProductsForm)">Create product</button>
        <button type="button" class="btn btn-success" >Reset</button>
        <button type="button" class="btn btn-danger">
            Cancel
        </button>
    </form>
</ng-container>
