<ng-container>
    <form [formGroup]="addProductsForm" class="productForm">
        <span class="form_name">Add Product</span>
        <input type="text" formControlName="productCode" placeholder="Enter product code here">
        <input type="text" formControlName="productDescription" placeholder="Write product name here">
        <input type="text" formControlName="productMrp" placeholder="Enter product Mrp">
        <input type="text" formControlName="productPrice" placeholder="Enter product price">
        <button type="button" class="btn btn-success" (click)="addProduct(addProductsForm)">Create product</button>
        <button type="button" class="btn btn-success" >Reset</button>
        <button type="button" class="btn btn-danger">
            Cancel
        </button>
    </form>
</ng-container>