/* You can add global styles to this file, and also import other style files */
body{
    margin:0;
    background-color: #F3E8EA;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    font-family: Bradley Hand ITC;
}